body {
    background-color: rgb(146, 43, 236);
    color: azure;
    font-family:"Fondamento", cursives;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: rgb(169, 78, 132);
    color: aliceblue;
    font-family: "Kotta One", serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display: block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 90%;
}
